<!--component html goes here -->
<!--component html goes here -->
<!--component html goes here -->
<header class="header black-bg">
    <div class="sidebar-toggle-box" (click)="hideAsideMenu(sidebar)">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <a routerLink="../" class="logo"><b>T2B<span>LIVE</span></b></a>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" >Logout</a></li>
        </ul>
    </div>
</header>

<aside>
    <div class="nav-collapse" tabindex="5000" id="sidebar" #sidebar>
        <ul class="sidebar-menu" id="nav-accordion" >
            <p class="centered">
                <a>
                    <img class="img-cricle">
                </a>
            </p>
            <h5 class="centered">Ujwall</h5>
            <li class="mt">
                <a routerLink="./dashboard" [ngClass]="{'active': status === 'dashboard'}" (click)="status='dashboard'" >
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a  routerLink="./orders" [ngClass]="{'active': status === 'orders'}" (click)="status='orders'">
                    <i class="fa fa-dashboard"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="sub-menu">
                <a routerLink="./inventory" [ngClass]="{'active': status === 'inventory'}" (click)="status='inventory'">
                    <i class="fa fa-dashboard"></i>
                    <span>Inventory</span>
                </a>
            </li>
            <li class="sub-menu parent-li" >
                <div (click)="expandSubMenu(blogMenu)">
                <a  [ngClass]="{'active': status === 'blog'}"(click)="status='blog'">
                    <i class="fa fa-dashboard"></i>
                    <span>Blog</span>
                </a>
                </div>
                <ul class="sub" #blogMenu>
                    <li>
                        <a [ngClass]="{'active': status2 === 'add'}"(click)="status2='add'" routerLink="./blog/new">Add Blog</a>
                    </li>
                    <li>
                        <a [ngClass]="{'active': status2 === 'list'}"(click)="status2='list'" routerLink="./blog/listing">List Blogs</a>
                    </li>
                </ul>
            </li> 
            <li class="sub-menu parent-li" >
                <div (click)="expandSubMenu(productMenu)">
                <a  [ngClass]="{'active': status === 'products'}"(click)="status='products'">
                    <i class="fa fa-dashboard"></i>
                    <span>Products</span>
                </a>
                </div>
                <ul class="sub" #productMenu>
                    <li>
                        <a [ngClass]="{'active': status2 === 'addp'}"(click)="status2='addp'" routerLink="./products/add">Add Products</a>
                    </li>
                    <li>
                        <a [ngClass]="{'active': status2 === 'listp'}"(click)="status2='listp'" routerLink="./products/list">List Products</a>
                    </li>
                </ul>
            </li> 
            <li class="sub-menu parent-li">
                <div (click)="expandSubMenu(workersMenu)">
                <a [ngClass]="{'active': status === 'workers'}"(click)="status='workers'">
                    <i class="fa fa-dashboard"></i>
                    <span>Workers</span>
                </a>
                </div>
                <ul class="sub" #workersMenu>
                    <li>
                        <a [ngClass]="{'active': status2 === 'addw'}"(click)="status2='addw'" routerLink="./workers/add">Add Workers</a>
                    </li>
                    <li>
                        <a routerLink="./workers/list" [ngClass]="{'active': status2 === 'listw'}"(click)="status2='listw'">List Workers</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
<article class="container-fluid" id="main-container">
    <section>
        
    </section>
</article>